

#profile{
width: 100px;
height: 100px;
}

#menu-toggle {
  cursor: pointer;
}

#spanT{
    font-size: small;
}


.list-group-item-1  {
    font-weight: bold;
    border: none !important;
color: white !important;
 display: inline-flex !important; 
}

.list-group-item-2 {
    border: none !important;
    font-weight: bold;
 display: inline-flex !important; 
}



.rounded-full {
    border-radius: 100%;
}
#wrapper {
    overflow-x: hidden;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -16rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}



#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group  {
    width: 15rem;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
#page-content-wrapper {
    min-width: 100vw;
}


#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
@media (min-width:400px) {
    #sidebar-wrapper {
        margin-left: 0;
       
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -18rem;
    }
}




.badge_Sale{
  display: inline-block;
  text-align: center;
  background:#FF0000;
vertical-align:baseline ;
white-space: nowrap;
position: absolute;
text-transform: uppercase;
border: 1px solid;
margin-bottom: 5px;
left: 0px;
}

.badge_Rent{
display: inline-block;
text-align: center;
background:#ED8135;
vertical-align:baseline ;
white-space: nowrap;
position: absolute;
left: 0px;
text-transform: uppercase;
border: 1px solid;
margin-bottom: 5px;
}

.property_list .property-icon a{
      padding: 10px 4px;
    margin-left: 5px;
    font-size:16px;
    box-sizing: border-box;
    display: flex;
    
}



@media screen and (min-width: 701px) {
.contentText{
    font-weight: bold;
font-size: small;


}
}
@media screen and (max-width: 700px) {
.contentText{
    font-weight: bold;
 font-size: small;
}

}

.Location{
    font-size: medium;
font-weight: bold;
}




