#container1-row1 {
    height: 470PX;
}

#container1-row1 img {
    height: 465px;
}


#container1-row2 {
    height: auto;
    background-color: #EBECEE;
}

#container1-row2 p {

    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 35px;
}

#container1-row2 h2 {
    display: inline-block;
}

#container1-row2 img {

    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 10px;
}

#bed-column img {
    height: 70px;
    width: 50px;
}

#container1-row2 .d-block {
    padding-left: 70px;
}

@media screen and (max-width: 600px) {
    #container1-row2 {
        background-color: white;
        border: 1px solid gray;
        height: 200px;
        margin-top: 15px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 600px) {

    .icon1,
    .icon2,
    .icon3,
    .icon4 {
        width: 220px !important;
    }
}


.row3 {
    background-color: white;

}
@media screen and (max-width: 600px) {
    .row3 {

        height: 100%;
        width: 90%;
        margin-left: 50px;

    }
}
@media screen and (max-width: 600px) {
    .col1 ,.col5,.col4.col2{ 
        margin-left: 5px;
    }
}



/* fourth row more and less*/
@media screen and (max-width: 600px) {
    .row4-col2 {
        height: 90% !important;
         width: 90% !important;
    }
}
#more {
    display: none;
}


#c1r3t1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: rgba(80, 97, 108, 0.59);
    font-weight: 700;
}

#c1r3t2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: rgba(80, 97, 108, 0.59);
    font-weight: 700;
}

#r3c1 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c2 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c3 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c4 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r4c2t1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #505050;
}

#r4c2t2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: #505050;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav a {
    color: #4dadf6;
}

.navbar-nav li {
    padding: 20px;
}

.navbar-toggler-icon {
    color: #4dadf6;
    border: 1px solid #4dadf6;
}

.navbar-toggler {
    background-color: #4dadf6;
    color: #4dadf6;
}

nav .navbar-nav li a {
    color: #4dadf6 !important;
    font-size: 23px;
}

#r5c2t1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: #505050;
}

#garden-text,
#free-wifi-text,
#swimming-pool-text,
#parking-text {
    font-family: 'Inter';
    font-style: regular;
    font-size: 24px;

}


.table-responsive {
    border: 2px solid #c4c4c4;

}

.table-responsive td,
th {
    color: #505050;
    vertical-align: middle;

}

.table-responsive thead {
    border-bottom: 2px solid #505050 !important;

}

#row7 .btn-primary {

    background-color: white !important;
    color: #3cbecf !important;
    border: 1px solid #aadaff;
    border-radius: 5%;
    width: 140px;
}

#GoogleMap {
    height: outo;
}

#calender {
    height: 1000px;
}

.map-container {
    overflow: hidden;
   
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
@media screen and (max-width: 600px) {
    .maps-col {
        width: 90%;
    }
}



.calendar-section {
    margin-bottom: 20px;
  }
  .calendar, .calendar_weekdays,
  .calendar_content {
    max-width: 585px;
  }
  
  .calendar {
    /*float: left;*/
    margin: auto;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
  .calendar_weekdays {
      color: #aaa;
      font-weight: lighter;
  }
  .calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
  }
  .calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
  }
  .calendar_content:after, .calendar_weekdays:after, .calendar_header:after {
      content: ' ';
      display: table;
      clear: both;
  }
  .calendar_weekdays div, .calendar_content div {
    /*border: 1px dotted #999;*/
    width: 14.28571%;
    height: 68px;
    line-height: 69px;  
    overflow: hidden;
    text-align: center;
    background-color: transparent;
  }
  
  .calendar_content .today {
      color: #3B8FC7;
  }
  .calendar_content div {
    float: left;
      margin-left: -1px;
      margin-top: -1px;
    border: 1px solid transparent;
  }
  .calendar_content div:hover {
    border: 1px solid #777;
    /*line-height: 68px;*/
    cursor: pointer;
  }
  
  .calendar_content div.blank:hover {
    cursor: default;
    border: none;
  }
  
  .calendar_content div.past-date {
      cursor: initial;
    color: #d5d5d5;
  }
  .calendar_content div.today{
    font-weight: bold;
    font-size: 18px;
    color: #409EDD;
  }
  .calendar_content div.selected {
    background-color: rgba(153, 153, 161, .2); /*rgba(170, 170, 176, .5) #aaaab0*/
    border: 1px solid white;
  }
  .calendar_header {
    width: 100%;
    text-align: center;
  }
  
  .calendar_header h2 {
    float:left;
    width:70%;
    margin-top: 10px;
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #FFFFFF;
  }
  
  button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    line-height: 52px;
    height: 55px;
    float: left;
    width:15%;
    transition: color .2s;
  }
  
  button.switch-month:hover {
    color: #5EADE2;
  }
  button.switch-month:active {
    background-color: rgba(113, 113, 125, .4);
  }
  .calendar_header h2 {
    color: #409EDD;
    line-height: 1.7;
  }
 


