.login{
    min-height: calc(100vh - 65px - 70px);
    .login-form{
        fieldset:not(:first-child){
            display: none;
        }
    }
}
footer{
	margin: 0;
	padding: 2rem 0 0;
	background-color: #f7f7f7;}

.navbar{
	padding: 1rem;
	.logo span{
		font-weight: 900;
		color: #333;
		text-decoration: none;
	}
}