@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Poppins:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body p,h1,h2,h3{
  font-family: rofina;
}
#container1-row1 {
  height: 500PX;
}

#container1-row1 img {
  height: 490px;
}


.row2 {
  height: auto;
  background-color: #EBECEE;
}

.row2 p {

  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 35px;
}

.row2 h2 {
  display: inline-block;
}

.row2 img {

  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 10px;
}

#bed-column img {
  height: 70px;
  width: 50px;
}

.row2 .d-block {
  padding-left: 70px;
}

@media screen and (max-width: 600px) {
  .row2 {
    background-color: white;
    border: 1px solid gray;
    height: 200px;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    width: 220px !important;
  }
}

@media screen and (max-width: 450px) {

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    width: 190px !important;
  }
}

.row3 {
  background-color: white;

}

@media screen and (max-width: 600px) {

  .col1,
  .col5,
  .col4.col2 {
    margin-left: 5px;
  }
}



/* fourth row more and less*/


#more {
  display: none;
}


#c1r3t1 {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: rgba(80, 97, 108, 0.59);
  font-weight: 700;
}

#c1r3t2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: rgba(80, 97, 108, 0.59);
  font-weight: 700;
}

#r3c1 {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c2 {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c3 {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c4 {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#r4c2t1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #505050;
}

#r4c2t2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 44px;
  color: #505050;
}

#r5c2t1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 44px;
  color: #505050;
}

#garden-text,
#free-wifi-text,
#swimming-pool-text,
#parking-text {
  font-family: 'Inter';
  font-style: regular;
  font-size: 24px;

}


.table-responsive {
  border: 2px solid #c4c4c4;

}

.table-responsive td,
th {
  color: #505050;
  vertical-align: middle;

}

.table-responsive thead {
  border-bottom: 2px solid #505050 !important;

}

#row7 .btn-primary {

  background-color: white !important;
  color: #3cbecf !important;
  border: 1px solid #aadaff;
  border-radius: 5%;
  width: 140px;
}

#GoogleMap {
  height: outo;
}

#calender {
  height: 1000px;
}

.map-container {
  overflow: hidden;

  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .maps-col {
    width: 90%;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Poppins:ital,wght@0,100;1,100&display=swap");

.banner-image {
  background-image: url(./images/Landingpage-img.png);
  background-size: cover;
}

nav {
  background-color: #005fa6;
  max-width: 100vw;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  margin-right: 20px;
  padding: 35px 0;
  color: #ffffff !important;
  outline: none;
  transition: 0.5s;
}

nav .collapse .navbar-nav a:hover {
  transition: all 0.5s ease-out;
  color: #0d6efd !important;
}

nav .collapse>a:hover {
  background-color: #ffffff;
  color: #0d6efd !important;
  transition: 0.2s ease-out;
}

.navbar-light .navbar-brand h1 {
  color: #ffffff;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

/* hamburger button animation */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .mid-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bot-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .mid-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bot-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}











#footer {
  background: #005fa6;
  color: #fff;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #005fa6;
  color: #fff;
}

#footer .footer-newsletter .container .row {
  width: 100%;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"] {
  border: none;
  padding: 8px;
  width: calc(100% - 140px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #e96b56;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #e6573f;
}

#footer .footer-top {
  background: #005fa6;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #e96b56;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #e96b56;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links h4 {
  color: #fff;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ec7f6d;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #e96b56;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  color: #fff;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
  color: #fff;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .copyright a {
  text-decoration: none;
  color: #4dadf6;
}

#footer .container {
  margin: auto;
}






.calendar-section {
  margin-bottom: 20px;
}

.calendar,
.calendar_weekdays,
.calendar_content {
  max-width: 585px;
}

.calendar {
  /*float: left;*/
  margin: auto;
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.calendar_weekdays {
  color: #aaa;
  font-weight: lighter;
}

.calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
}

.calendar_content,
.calendar_weekdays,
.calendar_header {
  position: relative;
}

.calendar_content:after,
.calendar_weekdays:after,
.calendar_header:after {
  content: ' ';
  display: table;
  clear: both;
}

.calendar_weekdays div,
.calendar_content div {
  /*border: 1px dotted #999;*/
  width: 14.28571%;
  height: 68px;
  line-height: 69px;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
}

.calendar_content .today {
  color: #3B8FC7;
}

.calendar_content div {
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid transparent;
}

.calendar_content div:hover {
  border: 1px solid #777;
  /*line-height: 68px;*/
  cursor: pointer;
}

.calendar_content div.blank:hover {
  cursor: default;
  border: none;
}

.calendar_content div.past-date {
  cursor: initial;
  color: #d5d5d5;
}

.calendar_content div.today {
  font-weight: bold;
  font-size: 18px;
  color: #409EDD;
}

.calendar_content div.selected {
  background-color: rgba(153, 153, 161, .2);
  /*rgba(170, 170, 176, .5) #aaaab0*/
  border: 1px solid white;
}

.calendar_header {
  width: 100%;
  text-align: center;
}

.calendar_header h2 {
  float: left;
  width: 70%;
  margin-top: 10px;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #FFFFFF;
}

button.switch-month {
  background-color: #EBECEE;
  padding: 0;
  outline: none;
  border: none;
  line-height: 52px;
  height: 55px;
  float: left;
  width: 15%;
  transition: color .2s;
}

button.switch-month:hover {
  color: #5EADE2;
}

button.switch-month:active {
  background-color: rgba(113, 113, 125, .4);
}

.calendar_header h2 {
  color: #409EDD;
  line-height: 1.7;
}





.photos {
  margin: 0;
  font-family: Arial;
}



.rak {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 35%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.Special-feutures>div {
  height: auto;
}

.Special-feutures img {
  height: 50px;
  width: 50px;
}

.Special-feutures p {
  vertical-align: middle;
  font-size: large;
  font-weight: bold;
  margin-top: 5%;
}

@media screen and (max-width: 450px) {

  .Special-feutures p {
    vertical-align: middle;
  font-size: large;
  font-weight: bold;
  margin-top: 12%;
  }
}



@media screen and (max-width: 600px) {

  .Special-feutures p {
    vertical-align: middle;
    font-size: large;
    font-weight: bold;
    margin-top: 12%;
  }
}
@media screen and (max-width: 450px) {

  .Special-feutures img{
    height: 50px;
    width: 50px;
  }
}



@media screen and (max-width: 600px) {

  .Special-feutures img {
    height: 50px;
    width: 50px;
  }
}





.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: 'Montserrat', sans-serif;

}

#booking::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(47, 103, 177, 0.6);
}

.booking-form {
  background-color: #fff;
  padding: 50px 20px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(62, 72, 92, 0.3);
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  display: inline-block;
  color: #3e485c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}

.booking-form .submit-btn {
  display: inline-block;
  color: #fff;
  background-color: #1e62d8;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-align: center;
  width: 100%;
}
.btn-calculatePrice{
  font-size: large;
  font-family: rofina;
  display: inline-block;
  color: #fff;
  background-color: #1e62d8;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-align: center;
  width: 100%;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}

.booking-cta {
  margin-top: 80px;
  margin-bottom: 30px;
}

.booking-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.booking-cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}


#pricing_row{
  background-color: #EBECEE;
  color: #3E485C;
}

#pricing_row p{
font-size: x-large;
}



#priceHiden{
  display: none;
}
#priceHiden p{
  font-size: large;
}


/* last edit on photos and font color */
#decoration{
  
  border-radius: 10px;
  background-color: rgba(11, 11, 11, 0.4) ;
  color: #ffffff;
}

#decoration:hover{
  
  background-color: rgba(255, 255, 255, 0.5) ;
  color: #000000;
}


#photos:hover{
  transform: scale(1.1);
  transition: all 0.4s ease;
}