#container1-row1 {
    height: 470PX;
}

#container1-row1 img {
    height: 465px;
}

#container1-row2 {
    height: auto;
    background-color: #EBECEE;
}

#container1-row2 p {

    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 35px;
}

#container1-row2 h2 {
    display: inline-block;
}

#container1-row2 img {

    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 10px;
}

#bed-column img{
    height: 70px;
    width: 50px;
}
#container1-row2 .d-block{
    padding-left: 70px;
}

#container1-row3 {
    background-color: white;

}

#c1r3t1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: rgba(80, 97, 108, 0.59);
    font-weight: 700;
}

#c1r3t2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: rgba(80, 97, 108, 0.59);
    font-weight: 700;
}

#r3c1 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c2 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c3 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r3c4 {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#r4c2t1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #505050;
}

#r4c2t2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: #505050;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav a {
    color: #4dadf6;
}

.navbar-nav li {
    padding: 20px;
}

.navbar-toggler-icon {
    color: #4dadf6;
    border: 1px solid #4dadf6;
}

.navbar-toggler {
    background-color: #4dadf6;
    color: #4dadf6;
}

nav .navbar-nav li a {
    color: #4dadf6 !important;
    font-size: 23px;
}

#r5c2t1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: #505050;
}

#garden-text,
#free-wifi-text,
#swimming-pool-text,
#parking-text {
    font-family: 'Inter';
    font-style: regular;
    font-size: 24px;

}


.table-responsive{
    border: 2px solid #c4c4c4;
    
}
.table-responsive td,th{
    color: #505050;
    vertical-align: middle;
    
}
.table-responsive thead{
    border-bottom: 2px solid #505050 !important;
    
}
#row7 .btn-primary{
    background-color: white !important;
    color: #3cbecf !important;
    border: 1px solid #aadaff ;
    border-radius: 5% ;
    width: 140px;
}
#GoogleMap{
    height: 350px;
}
#calender{
    height: 1000px;
}